html {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

body {
    font-size: 13px;
    line-height: 20px;

    height: 100%;

    background-repeat: no-repeat;
    /* Maximum browser support */
    background: -webkit-gradient(linear, center top, center bottom, from(#2DAAE4), to(#15729E));
    background: -webkit-linear-gradient(#2DAAE4, #15729E);
    background: -moz-linear-gradient(#2DAAE4, #15729E);
    background: -o-linear-gradient(#2DAAE4, #15729E);
    background: -ms-linear-gradient(#2DAAE4, #15729E);
    background: linear-gradient(#2DAAE4, #15729E);    
}

#chat-app {
    position: absolute;
    margin: auto;
    width:500px;
}

#header {
    text-align: center;
}

#content {
    padding: auto;
    width: 500px;
}

#chat-field {
    height: 400px;
    width: 500px;
    border-color: black;
    background-color: lightgrey;
}

#chat-box {
    background-color: lightgray;
}

#message {
    padding: 5px;
    border-bottom: 2px solid black;
}